<footer class="text-muted">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
        <p class="float-right">
            &copy;<%= year %> Yi Ming Tan
        </p>
    </div>
</footer>