<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleting an Account in the Admin Board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    On the Admin Board, click on the <b>Delete</b> button right to the user you want to delete. Details of the user will be displayed. Click on <b>Delete</b> button, a confirmation modal wil pop-up, click on the <b>Delete</b> button once again. The account will then be deleted.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Got it!</button>
            </div>
        </div>
    </div>
</div>