<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Full Name</label>
            <input type="text" class="form-control" placeholder="Full Name" name="name" id="name" required/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username" required />
        </div>

    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" id="email" required />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="small mb-1">Password</label>
            <input type="password" class="form-control"  placeholder="Password" name="password" id="password" required />
        </div>
    </div>
</div>