<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-main">
    <div class="jumbotron big-white-container text-center">
    <div class="page-header-content pt-10">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1 class="page-header-title mb-3">About Us</h1>

                    <p class="lead text-muted">Hi we are Ming's L.A.S. The company is founded by Yi Ming Tan back in 2002. We have secured a revenue of more than 800,000 euros. We have roughly 10M users daily. We are simply the best.</p>
                    <p class="lead text-muted">We want to be a catalyst for positive change, and since our beginnings in 2000, we’ve been driven by the same ideas we initially founded our Non-Profit Organization upon: support, empowerment, and progress. Learn more about our mission, our vision, and how we go about making the changes we want to see.</p>

                </div>
            </div>
        </div>
    </div>
    <section class="mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h3 class="mt-4">
                        Meet the Team
                    </h3></div>
                <div class="col-lg-12 mt-5 d-flex justify-content-around">
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Yi Ming Tan</h5>
                            <p class="card-text">Founder and CEO</p>
                        </div>
                    </div>
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Popo Jiji</h5>
                            <p class="card-text">Chief Marketing Officer</p>
                        </div>
                    </div>
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Mohammed Ali</h5>
                            <p class="card-text">Senior Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-5 d-flex justify-content-around">
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Malena Tudi</h5>
                            <p class="card-text">Designer</p>
                        </div>
                    </div>
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Barack Polom</h5>
                            <p class="card-text">Chief Operation Officer</p>
                        </div>
                    </div>
                    <div class="card link-page-card">
                        <div class="card-body">
                            <h5 class="card-title">Soda Poppin</h5>
                            <p class="card-text">Business Analyst</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>
<%- include('../partials/logoutModal'); %>
<%- include('../partials/footer'); %>
</body>
</html>